<launch>

    <!--node pkg="map_server" type="map_server" name="map_server" args="$(find platform_nav)/config/map.yaml"/-->

    <!--node pkg="tf" type="static_transform_publisher" name="tf_boadcaster" args="100 0 0 0 0 0 /map /base_link 0"/-->

    <!--node pkg="platform_nav" type="tf_publisher.py" name="platform1_tf_broadcaster" respawn="false" output="screen"/-->

    <master auto="start"/>

    <node pkg="rviz" type="rviz" name="rviz"/>

    <node pkg="platform_nav" type="ros_class.py" name="custom_map_odom_tf_publisher" respawn="false" output="screen"/>
    <!--node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/-->


    <!--arg name="global_frame_id" default="map"/>
    <arg name="base_frame_id"   default="base_link"/-->
    <!--arg name="odom_frame_id"   default="odom"/>
    <arg name="odom_topic" default="odom" /-->

    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
        <param name="base_global_planner" value="navfn/NavfnROS"/>
        <param name="controller_frequency" value="5.0"/>
        <rosparam file="$(find platform_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find platform_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find platform_nav)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find platform_nav)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find platform_nav)/config/trajectory_planner.yaml" command="load" />
        <rosparam file="$(find platform_nav)/config/dwa_local_planner_param.yaml" command="load" />
    </node>

</launch>
